VITE_SUPABASE_URL=https://dplveweggqyfhmkobsmu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwbHZld2VnZ3F5Zmhta29ic211Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Njg2MTEsImV4cCI6MjA4OTE0NDYxMX0.NceGJs-LcHJFpUsp3jVBMIPnFgLIB9n0suMcUR-7xUQ
